<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="utilities.ExtentTestNGListener"/></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="api.BasicAuthTest"/>
      <class name="api.RequestBodyTest"/>
      <class name="api.DeleteUserApiTest"/>
      <class name="api.GetuserByIdTest"/>
      <class name="api.CreateUserApiTest"/>
      <class name="api.HeaderTest"/>
      <class name="api.BearerTokenTest"/>
      <class name="api.NegativeApiTest"/>
      <class name="api.UpdateUserApiTest"/>
      <class name="api.GetUsersQueryTest"/>
      <class name="api.UserapiTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
